/* header style definitions */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
}

.logo span {
  margin-left: 10px;
}

.header a {
  margin-right: 20px;
  color: black;
}

/* column styule definitions */
.column {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}

.column > * {
  margin: 0px 10px;
}

/* style dfefinitions for image containers */
.image {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
}

.leader.image {
  font-size: 40px;
}

.center span {
  text-align: center;
}

.large .leader.image {
  background-image: url("../img-story-main.png");
}

.large .third {
  background-image: url("../img-story-2.png");
  justify-content: center;
}

.large .fourth {
  background-image: url("../img-story-3.png");
  justify-content: center;
}

.medium .second {
  background-image: url("../img-story-1.png");
  justify-content: center;
}

/* style for text containers */
.text {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* column width and flex layout */
.large {
  width: 630px;
  display: flex;
  flex-flow: column wrap;
}

.stories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.stories > * {
  width: 300px;
  height: 300px;
}

.medium {
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
}

.small {
  width: 240px;
  display: flex;
  flex-flow: column nowrap;
}

/* newsbites styles and layout */
.small h2 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin-bottom: 0px;
}

.newsbites {
  display: flex;
  flex-direction: column;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.newsbites > * {
  padding: 10px 0;
  margin: 0px;
  border-bottom: 1px solid black;
}

/* footer styles */
.footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: MediumAquamarine;
  margin-top: 50px;
}

.footer a, .footer p {
  color: black;
  font-family: Verdana;
  font-size: 12px;
}

.footer span {
  margin: 0 10px;
}

.footer .title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
